<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="homepage-body">
    <div class="homepage-container">
        <div class="roulette-container">
            <p class="main-intro">In the mood for a drink?</p>
            <p class="main-title">Bartender's Roulette</p>
            <p class="main-desc">Try Bartender's Roulette to give you the best cocktail recipies around! Let me do the work in providing you the list of ingredients, measurements, and all that you need to enjoy a nice cocktail. Go head, try me!</p>
            <div class="actions">
                <a class="main-button" href="/get_recipe">Surprise Me!</a>
            </div>
        </div>
        <div class="img-header">
            <img src="/images/cocktail-image.png" alt="Colorful cocktails on a bar" class="main-img" width="1200" height="800"/>
        </div>
    </div>
</body>
</html>